{% extends 'base.html.twig' %}
{% block carousel  %}{% endblock %}
{% block content %}


<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 underbanner"></div>

			<div class="col-sm-3 annonce">
			
			<h3 class="annoncetext">COMBATS A VENIR</h3>
	<div data-mc-src="f07135ec-df03-4489-80ee-4101bed8fab6"></div>
        
<script 
  src="https://cdn2.woxo.tech/a.js#5fd926e9a19b6b0015d521f7" 
  async data-usrc>
</script>
		</div>

	
	<div class="col-sm-6">

<div class="taleofthetape">                        
    <table class="table table-striped table-bordered table-light table-bordered text-center  ">
       
        
        

    <tr>
        <td><img class="bluecorner" src="{{ asset('uploads/combattant/' ~ redcorner.photo) }}"></td>
            <td class="tofhetapetitle">TALE OF THE TAPE</td>
        <td><img class="redcorner" src="{{ asset('uploads/combattant/' ~ bluecorner.photo) }}"></td>
    </tr>
    <tr>
        <td class="fightername">{{redcorner.name}}</td>
            <td class="textcolonnetale">PAYS</td>
        <td class="fightername">{{bluecorner.name}}</td>
    </tr>

    <tr>
        <td>{{redcorner.pays}}</td>
            <td class="textcolonnetale">PAYS</td>
        <td>{{bluecorner.pays}}</td>
    </tr>

    <tr>
        <td>{{redcorner.age}}</td>
            <td class="textcolonnetale">AGE</td>
        <td>{{bluecorner.age}}</td>
    </tr>

    <tr>
        <td>{{redcorner.poids}}</td>
            <td class="textcolonnetale">POIDS</td>
        <td>{{bluecorner.poids}}</td>
    </tr>

    <tr>
        <td>{{redcorner.taille}}</td>
            <td class="textcolonnetale">TAILLE</td>
        <td>{{bluecorner.taille}}</td>
    </tr>

    <tr>
        <td>{{redcorner.allonge}}</td>
            <td class="textcolonnetale">ALLONGE</td>
        <td>{{bluecorner.allonge}}</td>
    </tr>
    <tr>
        <td>{{redcorner.palmares}}</td>
            <td class="textcolonnetale">PALMARES</td>
        <td>{{bluecorner.palmares}}</td>
    </tr>
  

   
    
    </table>
</div>
</div>

		<div class="col-sm-3 top15">
			<table class="table table-striped table-bordered table-light table-bordered text-center  ">
				<thead>
					<th class="bg-warning">Top 15 des combattants</th>
				</thead>
				<tbody>
					{% for data in name %}
						<tr>
							<td>
								<a href="{{ path('fighters_bio', {'id': data.id}) }}">{{ data.name }}</td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


		<div class="col-sm-3 bloc"></div>
		<div class="col-sm-6 "></div>
		<div class="col-sm-3 bloc"></div>
		<div class="col-sm-9 forum scroll">
			<h4 class=" align-middle p-4 text-center text-dark bg-warning">Forum</h4>
			<table class="styled-table table text-center">
				<thead>
					<tr>
						{% for data in colonnes %}
							{% if data != 'password' and data != 'id' %}
								<th class="bg-secondary">{{data|upper }}</th>
							{% endif %}

						{% endfor %}
						{# <th class="">PHOTO</th> #}
						<th class="bg-secondary">VOIR COMMENTAIRES</th>

					</tr>
				</thead>
				<tbody>
					{% for data in allDiscussion %}
						<tr class="active-row">

							<td class="align-middle">{{ data.titre }}</td>
							<td class="align-middle">{{ data.date|date('d/m/Y') }}</td>

							<td class="align-middle">
							{% if app.user %}
								<a href="{{ path('forum_home', {'id': data.id}) }}">
									<i class="btn btn border fas fa-eye regular"></i>
							{% else %}
								<a href="{{ path('app_login') }}">
									<i class="btn btn border fas fa-eye regular"></i>
							{% endif %}
								
								</td>
							</td>
						</tr>
					</a>
				</tbody>
			</td>

		</tr>
	{% endfor %}
</tbody></table></div><div class="col-sm-3 prono "><table class="table table-striped table-bordered table-light table-bordered text-center">
<thead>
	<th class="bg-warning">MEMBRES
		<br>MMA ADDICTS</th>
</thead>
<tbody>
	{% for data in name %}
		<tr>
			<td>
				<a href="{{ path('fighters_bio', {'id': data.id}) }}">{{ data.name }}</td>
			</td>
		</tr>
	{% endfor %}
</tbody></table></div>

<div class="col-sm-12 entertainment"><div class="vc_column tdi_28_fd5  wpb_column vc_column_container tdc-column td-pb-span12">
<div class="td_block_inner">
	<div class="td_video_playlist_column_3">
		<div class="td_video_playlist_title">
			<div class="td_video_title_text">VIDÉOS À LA UNE</div>
		</div>
		<div class="td-video-replacer" data-id="undefined" style="position: absolute; visibility: hidden; width:727px;height:409px"></div>
		<div class="td_wrapper_video_playlist">
			<div class="td_wrapper_player td_wrapper_playlist_player_youtube" data-first-video="mQYdhNs7qzI" data-autoplay="0">
				<iframe id="player_youtube_0" class="td-youtube-player" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/mQYdhNs7qzI?autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.mmadeferlante.com&amp;widgetid=1" style="height: 370.125px;"></iframe>
			</div>
			<div class="td_container_video_playlist ">
				<div class="td_video_controls_playlist_wrapper">
					<div class="td_video_stop_play_control">
						<a class="td-sp-video-play td-sp td_youtube_control"></a>
					</div>
					<div class="td_current_video_play_title_youtube td_video_title_playing">UFC 256: Charles Oliveira Post-fight Press Conference</div>
					<div class="td_current_video_play_time_youtube td_video_time_playing">15:52</div>
				</div>
				<div id="td_youtube_playlist_video" class="td_playlist_clickable td_add_scrollbar_to_playlist">
					<a class="td_mQYdhNs7qzI td_click_video td_click_video_youtube td_video_currently_playing" data-video-id="mQYdhNs7qzI">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/mQYdhNs7qzI/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Charles Oliveira Post-fight Press Conference</div>
							<div class="td_video_time">15:52</div>
						</div>
					</a>
					<a class="td_3xc5jRZyU_Q td_click_video td_click_video_youtube" data-video-id="3xc5jRZyU_Q">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/3xc5jRZyU_Q/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Dana White Post-fight Press Conference</div>
							<div class="td_video_time">21:59</div>
						</div>
					</a>
					<a class="td_3o3yj3s71Ls td_click_video td_click_video_youtube" data-video-id="3o3yj3s71Ls">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/3o3yj3s71Ls/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Post-fight Press Conference</div>
							<div class="td_video_time">39:01</div>
						</div>
					</a>
					<a class="td_PFPhjw7sgdY td_click_video td_click_video_youtube" data-video-id="PFPhjw7sgdY">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/PFPhjw7sgdY/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Deiveson Figueiredo Post-fight Interview</div>
							<div class="td_video_time">05:22</div>
						</div>
					</a>
					<a class="td_9tUp90odL7Q td_click_video td_click_video_youtube" data-video-id="9tUp90odL7Q">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/9tUp90odL7Q/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Brandon Moreno Post-fight Interview</div>
							<div class="td_video_time">02:44</div>
						</div>
					</a>
					<a class="td_68YIlh08sPE td_click_video td_click_video_youtube" data-video-id="68YIlh08sPE">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/68YIlh08sPE/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Charles Oliveira Interview after Dominant Win</div>
							<div class="td_video_time">03:11</div>
						</div>
					</a>
					<a class="td_8ED2luhi56E td_click_video td_click_video_youtube" data-video-id="8ED2luhi56E">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/8ED2luhi56E/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Mackenzie Dern Post-fight Interview</div>
							<div class="td_video_time">02:36</div>
						</div>
					</a>
					<a class="td_OonWGzhE-hU td_click_video td_click_video_youtube" data-video-id="OonWGzhE-hU">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/OonWGzhE-hU/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Kevin Holland Interview After 5th Win in 2020</div>
							<div class="td_video_time">02:43</div>
						</div>
					</a>
					<a class="td_XIP5XfZK1Hw td_click_video td_click_video_youtube" data-video-id="XIP5XfZK1Hw">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/XIP5XfZK1Hw/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC 256: Ciryl Gane Remains Undefeated | Post-fight Interview</div>
							<div class="td_video_time">01:57</div>
						</div>
					</a>
					<a class="td_WRE_Buk7UaI td_click_video td_click_video_youtube" data-video-id="WRE_Buk7UaI">
						<div class="td_video_thumb"><img src="https://img.youtube.com/vi/WRE_Buk7UaI/default.jpg" alt="Video thumbnail"></div>
						<div class="td_video_title_and_time">
							<div class="td_video_title">UFC Hall of Fame 2020 Inductees</div>
							<div class="td_video_time">02:36</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		;
if (undefined === window.td_youtube_list_ids) {
window.td_youtube_list_ids = {}
};
window.td_youtube_list_ids['td_mQYdhNs7qzI'] = {
title: "UFC 256: Charles Oliveira Post-fight Press Conference",
time: "15:52"
};
window.td_youtube_list_ids['td_3xc5jRZyU_Q'] = {
title: "UFC 256: Dana White Post-fight Press Conference",
time: "21:59"
};
window.td_youtube_list_ids['td_3o3yj3s71Ls'] = {
title: "UFC 256: Post-fight Press Conference",
time: "39:01"
};
window.td_youtube_list_ids['td_PFPhjw7sgdY'] = {
title: "UFC 256: Deiveson Figueiredo Post-fight Interview",
time: "05:22"
};
window.td_youtube_list_ids['td_9tUp90odL7Q'] = {
title: "UFC 256: Brandon Moreno Post-fight Interview",
time: "02:44"
};
window.td_youtube_list_ids['td_68YIlh08sPE'] = {
title: "UFC 256: Charles Oliveira Interview after Dominant Win",
time: "03:11"
};
window.td_youtube_list_ids['td_8ED2luhi56E'] = {
title: "UFC 256: Mackenzie Dern Post-fight Interview",
time: "02:36"
};
window.td_youtube_list_ids['td_OonWGzhE-hU'] = {
title: "UFC 256: Kevin Holland Interview After 5th Win in 2020",
time: "02:43"
};
window.td_youtube_list_ids['td_XIP5XfZK1Hw'] = {
title: "UFC 256: Ciryl Gane Remains Undefeated | Post-fight Interview",
time: "01:57"
};
window.td_youtube_list_ids['td_WRE_Buk7UaI'] = {
title: "UFC Hall of Fame 2020 Inductees",
time: "02:36"
};
	</script>
</div></div><!-- ./block_video_playlist --></div></div></div></div>{% endblock %}
