{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion des membres
{% endblock %}

{% block content %}

	<img src="assets/img/a.jpeg" alt="">

	<h1 class="display-4 text-center my-4">BackOffice | Gestion des membres</h1>


	{% for message in app.flashes('success') %}
		<div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 m-4">
			{{ message }}
		</div>
	{% endfor %}
	<div class="col-md-2">
		{{form(form)}}
		</div>


		<table class="styled-table table text-center">
			<thead>
				<tr>
					{% for data in colonnes %}
						{% if data != 'password' %}
							<th class="">{{data|upper }}</th>
						{% endif %}

					{% endfor %}
					{# <th class="bg-info">PHOTO</th> #}
					<th class="">EDIT</th>
					<th class="">SUPPR</th>
				</tr>
			</thead>
			<tbody>
				{% for data in membres %}
					<tr class="active-row">

						<td class="align-middle">{{ data.id }}</td>
						<td class="align-middle">{{ data.email }}</td>
						<td class="align-middle">{{ data.roles[0] }}</td>
						<td class="align-middle">{{ data.Prenom}}</td>
						<td class="align-middle">{{ data.Nom}}</td>
						{# <td class="">{{ data.password }}</td> #}
						<td class="align-middle"><img src="{{ asset('uploads/photo/' ~ data.photo) }}" alt="" style="width: 122px;"></td>
						<td class="align-middle">{{ data.pseudo}}</td>

						<td class="align-middle">
							<a href="{{ path('admin_edit_membre', {'id': data.id}) }}">
								<i class="btn btn-secondary far fa-edit text-warning"></i>
							</a>
						</td>
						<td class="align-middle">
							<a onclick="return(confirm('Voulez-vous vraiment supprimer ce membre ?'))" href="{{ path('admin_delete_membre', {'id': data.id}) }}">
								<i class="btn btn-secondary fas fa-trash-alt text-danger"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endblock %}
