{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion du forum
{% endblock %}
{% block content %}

	<h1 class="display-3 text-center my-3">BackOffice | Gestion du forum</h1>
	<hr>
	<h2 class="display-5 text-center my-5">BackOffice | Gestion des discussions
	</h2>

	{{ form_start(formDiscu, {'attr': {'class': 'col-md-6 mx-auto'}}) }}
	{{ form_row(formDiscu.titre, {'label': "Nouvelle discussion. Titre : ", 'attr':{'rows':5} }) }}
	<button type="submit" class="btn btn-success">Créer une discussion</button>
	{{ form_end(formDiscu) }}
	<br>
	{% for label, messages in app.flashes(['danger', 'success', 'warning','info','light','dark', 'primary', 'secondary']) %}

		{% for message in messages %}

			<div class="bg-{{ label }} text-white text-center col-md-4 mx-auto rounded p-3 m-4">
				{{ message }}
			</div>

		{% endfor %}

	{% endfor %}

	<table class="styled-table table text-center">
		<thead>
			<tr>
				{% for data in colonnes %}
					{% if data != 'password' %}
						<th class="">{{data|upper }}</th>
					{% endif %}

				{% endfor %}
				{# <th class="">PHOTO</th> #}
				<th class="">VOIR COMMENTAIRES</th>
				<th class="">EDIT</th>
				<th class="">SUPPR</th>
			</tr>
		</thead>
		<tbody>
			{% for data in allDiscussion %}
				<tr class="active-row">
					<td class="align-middle">{{ data.id }}</td>
					<td class="align-middle">{{ data.titre }}</td>
					<td class="align-middle">{{ data.date|date('d/m/Y') }}</td>

					<td class="align-middle">
						<a href="{{ path('discussion-comment', {'id': data.id}) }}">
							<i class="btn btn-secondary fas fa-eye text-info"></i>
						</a>
					</td>
					<td class="align-middle">
						<a href="{{ path('admin_edit_discussion', {'id': data.id}) }}">
							<i class="btn btn-secondary far fa-edit text-warning"></i>
						</a>
					</td>
					<td class="align-middle">
						<a onclick="return(confirm('Voulez-vous vraiment supprimer cet discussion ?'))" href="{{ path('admin_delete_discussion', {'id': data.id}) }}">
							<i class="btn btn-secondary fas fa-trash-alt text-danger"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr>
	<h2 class="display-5 text-center my-5">BackOffice | Gestion des commentaires</h2>


	<div class="col-md-2">
		{{form(form)}}
		</div>

		<table class="styled-table table text-center">
			<thead>
				<tr>
					{% for data in colonnesCom %}
						{% if data != 'password' %}
							<th class="">{{data|upper }}</th>
						{% endif %}

					{% endfor %}
					{# <th class="">PHOTO</th> #}
					<th class="">
						Titre de la discussion</th>
					<th class="">Auteur</th>
					<th class="">id de la discu</th>
					<th class="">EDIT</th>
					<th class="">SUPPR</th>
				</tr>
			</thead>
			<tbody>
				{% for data in allComment %}
					<tr class="active-row">

						<td class="align-middle">{{ data.id }}</td>
						<td class="align-middle">{{ data.commentaires|slice(0,30) }}</td>
						<td class="align-middle">{{ data.date|date('d/m/Y') }}</td>
						<td class="align-middle">{{ data.discussion.titre }}</td>
						<td class="align-middle">{{ data.user.prenom}}</td>
						<td class="align-middle">{{ data.discussion.id}}</td>

						<td class="align-middle">
							<a href="{{ path('admin_edit_comments', {'id': data.id}) }}">
								<i class="btn btn-secondary far fa-edit text-warning"></i>
							</a>
						</td>
						<td class="align-middle">
							<a onclick="return(confirm('Voulez-vous vraiment supprimer ce commentaire ?'))" href="{{ path('admin_delete_comment', {'id': data.id}) }}">
								<i class="btn btn-secondary fas fa-trash-alt text-danger"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endblock %}
