{% extends 'base.html.twig' %}
{% block carousel  %}
    
{% endblock %}
{% block content %}
    

    
        
   
            <div class="row">
        <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"></strong>
            <h3 class="mb-0">{{ discussion.titre }}</h3>
            <div class="mb-1 text-muted">{{ discussion.date|date('d/m/Y à H:i:s') }}</div>
            <p class="card-text mb-auto"></p>
            
             <small class="col-md-4 ml-5 text-center btn btn-dark "><a class="dropdown-item text-white" href="#comment">Ajouter un commentaire</a></small> 
            </div>
        </div>
    </div>
     
    </div>
     {% for label, messages in app.flashes(['danger', 'success', 'warning','info','light','dark', 'primary', 'secondary']) %}

            {% for message in messages %}

            <div class="bg-{{ label }} text-white text-center col-md-4 mx-auto rounded p-3 m-4">
            {{ message }}
            </div>
              {% endfor %}

            {% endfor %}

    <table class="table table-dark table-bordered text-center">

            

            {% for comment in allComment %}

            {% if  discussion.id == comment.discussion.id %}
                
            
                <tr>
                    
                    <td>{{ comment.user.nom }}.  {{ comment.user.prenom }}</td>
                    <td>{{ comment.date|date('d/m/Y à H:i:s') }}</td>
                    <td>{{ comment.commentaires }}</td>
                    
                    
                    

                </tr> 
          
                {% endif %}
            {% endfor %}

            
            </table>

        {{ form_start(formulaire, {'attr': {'class': 'col-md-7 mx-auto', 'id': 'comment'} }) }}

        {{ form_row(formulaire.commentaires, {'attr': {'placeholder': 'Message'}} ) }}
        
    
                <button type="submit" class="col-md-4 ml-5 text-center btn btn-dark ">Posté le commentaire</a></button> 


        {{ form_end(formulaire) }}

        
       
{% endblock %}